

body
{
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: white;
}

body header
{
	background: #EFEEE5;
}
ul li a
{
	
	color:yellow;
}
ul li a
{
	background: #888888;
}


header nav
{
	background: #0000FF;
	color: white;
	padding-left: 10em;
	padding-right: 9em;
	text-align: right;
}


header nav ul
{
	display: inline-block;*/
	
}
header nav ul li
{
	display: inline-block;
	padding: 0.5em 0;
	
}
header nav ul li a
{
	/*border: 1px solid red;*/
	color: white;
	font-family: Arial;
	font-size: 1em;
	text-decoration: none;
	padding: 1.5em 1em; 
	border-right: 0.001px solid red;
}

label
{
	text-align: center;
	font-size: 2em;
	color: black;
}

img
{
	width: 60%;
	align-content: right;
}